Repository tailor-platform/frontend-packages, pull requests merged in 2023-12, with the labels that each got.

#6 fix: misc config fixes for publishing
  .github/workflows/labeler.yml
  .github/workflows/release_package_client.yml
  .github/workflows/release_package_datagrid.yml
  .github/workflows/release_package_design-systems.yml
  .github/workflows/release_package_dev-config.yml
  .github/workflows/release_package_monitoring.yml
  .github/workflows/release_package_oidc-client.yml
  .github/workflows/release_package_utils.yml
  package.json
  packages/client/package.json
  packages/design-systems/package.json
  packages/monitoring/package.json
  packages/oidc-client/package.json
Labels: Package: client, Package: design-systems, Package: monitoring, Package: oidc-client, Type: Fix

#7 chore(datagrid): update dev deps
  packages/datagrid/package.json
  pnpm-lock.yaml
Labels: Type: Fix, Package: datagrid, Type: House Keeping

#9 feat(dev-config): use NodeNext for next.js module resolution
  packages/dev-config/package.json
  packages/dev-config/typescript/base.json
  packages/dev-config/typescript/nextjs.json
  packages/dev-config/typescript/react-library.json
Labels: Package: client, Package: design-systems, Package: datagrid, Package: dev-config, Type: Feature

#11 Use bundler as module resolution mode for Next.js apps
  packages/dev-config/eslint/eslintrc.js
  packages/dev-config/package.json
  packages/dev-config/typescript/nextjs.json
Labels: Type: Fix, Package: dev-config

#10 feat(utils): add legacy utils package
  packages/utils/package.json
  packages/utils/src/legacy/index.test.ts
  packages/utils/src/legacy/index.ts
Labels: Package: utils, Type: Feature
