Repository tailor-platform/frontend-packages, pull requests merged in 2024-03, with the labels that each got.

#108 Feature/fix client build
  packages/design-systems/package.json
  packages/design-systems/src/components/Code.tsx
  packages/design-systems/src/components/Form.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/FilterRow.tsx
Labels: Package: design-systems, Type: Feature

#111 fix(ds): downgrade ark-ui/react 2.1.1 to 2.0.2 and split tsup config
  apps/storybook/package.json
  apps/storybook/src/stories/composite/DatePicker.stories.tsx
  packages/design-systems/package.json
  packages/design-systems/src/client.tsx
  packages/design-systems/src/index.tsx
  packages/design-systems/tsup.config.ts
  pnpm-lock.yaml
Labels: Package: design-systems, Type: Fix, App: storybook

#105 feat(ds): add NumberInput component
  apps/storybook/src/stories/composite/NumberInput.stories.tsx
  packages/design-systems/src/components/composite/NumberInput.tsx
  packages/design-systems/src/index.tsx
Labels: Package: design-systems, Type: Feature, App: storybook

#79 feat(ds): add HoverCard components
  apps/storybook/src/stories/composite/HoverCard.stories.tsx
  packages/design-systems/src/components/composite/HoverCard.tsx
  packages/design-systems/src/index.tsx
  packages/design-systems/src/theme/recipes/index.ts
  packages/design-systems/src/theme/slot-recipes/hover-card.ts
  packages/design-systems/src/theme/slot-recipes/index.ts
Labels: Package: design-systems, Type: Feature, App: storybook

#110 feat(ds): add PinInput component
  apps/storybook/src/stories/composite/PinInput.stories.tsx
  packages/design-systems/src/components/composite/PinInput.tsx
  packages/design-systems/src/index.tsx
  packages/design-systems/src/theme/recipes/index.ts
  packages/design-systems/src/theme/slot-recipes/index.ts
  packages/design-systems/src/theme/slot-recipes/pin-input.ts
Labels: Package: design-systems, Type: Feature, App: storybook

#97 chore(deps): update react-table version to 8.12.0
  apps/storybook/package.json
  packages/design-systems/package.json
  pnpm-lock.yaml
Labels: Package: design-systems, Type: House Keeping, App: storybook

#113 chore(client): delete package
  .cz-config.js
  .github/release-drafter.yml
  .github/workflows/chromatic.yml
  .github/workflows/release_package_client.yml
  .github/workflows/test_package_client.yml
  CONTRIBUTING.md
  package.json
  packages/client/.eslintrc.js
  packages/client/.prettierignore
  packages/client/README.md
  packages/client/index.tsx
  packages/client/lib/cache.ts
  packages/client/lib/gql.test.ts
  packages/client/lib/gql.ts
  packages/client/lib/provider.test.tsx
  packages/client/lib/provider.tsx
  packages/client/lib/types.ts
  packages/client/lib/user.ts
  packages/client/package.json
  packages/client/tsconfig.json
  packages/client/vite.config.js
  packages/dev-config/eslint/eslintrc.js
Labels: Package: client, Type: House Keeping, Package: dev-config

#112 chore(ds): use the latest ark-ui/react
  packages/design-systems/package.json
  packages/design-systems/src/components/Avatar.tsx
  packages/design-systems/src/components/Checkbox.tsx
  packages/design-systems/src/components/Code.tsx
  packages/design-systems/src/components/Form.tsx
  packages/design-systems/src/components/LabelField.tsx
  packages/design-systems/src/components/Textarea.test.tsx
  packages/design-systems/src/components/Textarea.tsx
  packages/design-systems/src/components/composite/Accordion.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.tsx
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/FilterRow.tsx
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
  packages/design-systems/src/components/composite/DatePicker.tsx
  packages/design-systems/src/components/composite/Dialog.tsx
  packages/design-systems/src/index.tsx
  packages/design-systems/tsup.config.ts
  pnpm-lock.yaml
Labels: Package: design-systems, Type: House Keeping

#118 chore(*): fix lockfile
  pnpm-lock.yaml
Labels: Type: House Keeping

#122 fix(ds): fix datagrid hide show colmun
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/HideShow.tsx
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/theme/slot-recipes/datagrid.ts
Labels: Package: design-systems, Type: Fix

#124 chore(ds): use ark-ui 2.2.3
  packages/design-systems/package.json
  pnpm-lock.yaml
Labels: Package: design-systems, Type: House Keeping

#125 Feature/fix datagrid button horizontally
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
Labels: Package: design-systems, Type: Feature

#123 fix(auth): fix strategy fallback
  packages/auth/package.json
  packages/auth/src/client/hooks.test.tsx
  packages/auth/src/client/hooks.ts
  packages/auth/src/core/config.test.ts
  packages/auth/src/core/config.ts
  packages/auth/src/core/strategies/default.ts
  packages/auth/src/core/strategies/minitailor.ts
  packages/auth/src/core/strategies/sso.ts
  packages/auth/src/core/strategies/strategy.test.ts
  packages/auth/src/server/middleware/callback.test.ts
  packages/auth/src/server/middleware/callback.ts
  packages/auth/src/tests/mocks.ts
Labels: Type: Fix, Package: auth

#127 feat(ds): make lucide-react a peer dependency
  packages/design-systems/package.json
Labels: Package: design-systems, Type: Feature

#128 feat(ds): pinning sticky
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.tsx
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
  packages/design-systems/src/locales/en.ts
  packages/design-systems/src/locales/ja.ts
  packages/design-systems/src/locales/types.ts
  packages/design-systems/src/theme/slot-recipes/datagrid.ts
Labels: Package: design-systems, Type: Feature

#129 fix(ds): inherit default pinning state
  apps/storybook/src/stories/datagrid/DataGridPinedColumnStory.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
Labels: Package: design-systems, Type: Fix, App: storybook

#131 fix(ds): get ids instead of indexes on selecting rows
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
Labels: Package: design-systems, Type: Fix

#132 fix(ds): revive indicator stylings
  apps/storybook/src/stories/composite/SegmentGroup.stories.tsx
  packages/design-systems/package.json
  packages/design-systems/src/theme/slot-recipes/segment-group.ts
  packages/design-systems/src/theme/slot-recipes/tabs.ts
Labels: Package: design-systems, Type: Fix, App: storybook

#133 fix(ds): fix css
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Dialog.tsx
Labels: Package: design-systems, Type: Fix

#140 Feature/datagrid pagination
  apps/storybook/src/stories/datagrid/DataGridPagination.stories.tsx
  apps/storybook/src/stories/datagrid/DataGridPaginationStory.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
Labels: Package: design-systems, Type: Feature, App: storybook

#135 chore(auth): removed loginCallbackPath fron configuration
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/client/hooks.test.tsx
  packages/auth/src/client/hooks.ts
  packages/auth/src/core/config.ts
  packages/auth/src/core/strategies/minitailor.ts
  packages/auth/src/core/strategies/sso.ts
  packages/auth/src/core/strategies/strategy.test.ts
  packages/auth/src/server/middleware.ts
  packages/auth/src/server/middleware/callback.test.ts
  packages/auth/src/server/middleware/internal.ts
Labels: Type: House Keeping, Package: auth

#141 feat(ds): export type
  packages/design-systems/package.json
  packages/design-systems/src/client.tsx
  packages/design-systems/src/components/composite/Datagrid/index.tsx
Labels: Package: design-systems, Type: Feature

#134 feat(auth): add logout function
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/client/hooks.ts
  packages/auth/src/server/middleware.ts
  packages/auth/src/server/middleware/internal.ts
Labels: Type: Feature, Package: auth

#142 fix(ds): fix filter operator in dataGrid
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/data/filter.ts
  packages/design-systems/src/components/composite/Datagrid/types.ts
Labels: Package: design-systems, Type: Fix

#144 chore(ds): use the latest pandacss
  packages/design-systems/package.json
  pnpm-lock.yaml
Labels: Package: design-systems, Type: House Keeping

#145 fix(ds): fix datagrid out side click and css
  packages/design-systems/package.json
  packages/design-systems/src/components/Button.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/HideShow.test.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/HideShow.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.tsx
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/components/composite/Datagrid/hooks/useClickOutside.ts
  packages/design-systems/src/components/patterns/Box.tsx
Labels: Package: design-systems, Type: Fix, App: storybook

#143 feat(auth): support suspense in usePlatform hook
  packages/auth/package.json
  packages/auth/src/client/hooks.test.tsx
  packages/auth/src/client/hooks.ts
  packages/auth/src/client/index.ts
  packages/auth/src/core/loader.ts
  pnpm-lock.yaml
Labels: Type: Feature, Package: auth

#150 fix(auth): fix promise handling in SingletonLoader
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/client/hooks.test.tsx
  packages/auth/src/client/hooks.ts
  packages/auth/src/core/loader.ts
Labels: Type: Fix, Package: auth

#151 fix(ds): add manual pagination support
  apps/storybook/src/data/datagrid.ts
  apps/storybook/src/stories/datagrid/DataGridManualPagination.stories.tsx
  apps/storybook/src/stories/datagrid/DataGridManualPaginationStory.tsx
  apps/storybook/src/stories/datagrid/DataGridPagination.stories.tsx
  apps/storybook/src/stories/datagrid/DataGridPaginationStory.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/ManualPagination.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/Pagination.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/index.ts
  packages/design-systems/src/components/composite/Datagrid/Pagination/utils.ts
  packages/design-systems/src/components/composite/Datagrid/types.ts
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
Labels: Package: design-systems, Type: Fix, Type: Feature, App: storybook

#152 fix(ds): fix datagrid was always displayed
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
Labels: Package: design-systems, Type: Fix

#156 fix(ds): fix last page in manual pagination
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Pagination/ManualPagination.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/utils.ts
Labels: Package: design-systems, Type: Fix
