Repository tailor-platform/frontend-packages, pull requests merged in 2024-02, with the labels that each got.

#34 fix(ds): update panda css
  packages/datagrid/src/output.css
  packages/design-systems/package.json
  packages/design-systems/src/components/Divider.tsx
  packages/design-systems/src/output.css
  packages/design-systems/src/theme/recipes/divider.ts
  packages/design-systems/src/theme/recipes/index.ts
  packages/design-systems/src/theme/semantic-tokens.ts
  pnpm-lock.yaml
Labels: Package: design-systems, Type: Fix, Package: datagrid

#33 feat(ds): add LabelField
  apps/storybook/src/stories/composite/LabelField.stories.tsx
  packages/design-systems/src/components/Label.tsx
  packages/design-systems/src/components/LabelField.tsx
  packages/design-systems/src/index.tsx
  packages/design-systems/src/theme/recipes/index.ts
  packages/design-systems/src/theme/recipes/label-field.ts
  packages/design-systems/src/theme/recipes/label.ts
Labels: Package: design-systems, Type: Feature, App: storybook

#32 Authorization middleware for Next.js
  packages/oidc-client/README.md
  packages/oidc-client/package.json
  packages/oidc-client/src/client/hooks.test.tsx
  packages/oidc-client/src/client/hooks.ts
  packages/oidc-client/src/client/index.ts
  packages/oidc-client/src/client/provider.tsx
  packages/oidc-client/src/index.ts
  packages/oidc-client/src/lib/config.ts
  packages/oidc-client/src/lib/core.test.ts
  packages/oidc-client/src/lib/core.ts
  packages/oidc-client/src/lib/hooks.ts
  packages/oidc-client/src/lib/provider.tsx
  packages/oidc-client/src/lib/types.ts
  packages/oidc-client/src/server/index.ts
  packages/oidc-client/src/server/middleware.test.ts
  packages/oidc-client/src/server/middleware.ts
  packages/oidc-client/src/tests/mocks.ts
  packages/oidc-client/vite.config.js
  pnpm-lock.yaml
Labels: Package: oidc-client

#38 feat(ds): add layout components to design-systems
  apps/storybook/src/mdx/ComponentPetterns.stories.mdx
  apps/storybook/src/stories/layout/AspectRatio.stories.tsx
  apps/storybook/src/stories/layout/Bleed.stories.tsx
  apps/storybook/src/stories/layout/Box.stories.tsx
  apps/storybook/src/stories/layout/Center.stories.tsx
  apps/storybook/src/stories/layout/Circle.stories.tsx
  apps/storybook/src/stories/layout/Container.stories.tsx
  apps/storybook/src/stories/layout/Flex.stories.tsx
  apps/storybook/src/stories/layout/Float.stories.tsx
  apps/storybook/src/stories/layout/Grid.stories.tsx
  apps/storybook/src/stories/layout/HStack.stories.tsx
  apps/storybook/src/stories/layout/Square.stories.tsx
  apps/storybook/src/stories/layout/Stack.stories.tsx
  apps/storybook/src/stories/layout/VStack.stories.tsx
  apps/storybook/src/stories/layout/VisuallyHidden.stories.tsx
  apps/storybook/src/stories/layout/Wrap.stories.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/patterns/AspectRatio.tsx
  packages/design-systems/src/components/patterns/Bleed.tsx
  packages/design-systems/src/components/patterns/Box.tsx
  packages/design-systems/src/components/patterns/Center.tsx
  packages/design-systems/src/components/patterns/Circle.tsx
  packages/design-systems/src/components/patterns/Container.tsx
  packages/design-systems/src/components/patterns/Flex.tsx
  packages/design-systems/src/components/patterns/Float.tsx
  packages/design-systems/src/components/patterns/Grid.tsx
  packages/design-systems/src/components/patterns/GridItem.tsx
  packages/design-systems/src/components/patterns/HStack.tsx
  packages/design-systems/src/components/patterns/Square.tsx
  packages/design-systems/src/components/patterns/Stack.tsx
  packages/design-systems/src/components/patterns/VStack.tsx
  packages/design-systems/src/components/patterns/VisuallyHidden.tsx
  packages/design-systems/src/components/patterns/Wrap.tsx
  packages/design-systems/src/index.tsx
Labels: Package: design-systems, Type: Feature, App: storybook

#41 chore(*): update vite to the unvulnerable version
  apps/storybook/package.json
  package.json
  packages/datagrid/package.json
  pnpm-lock.yaml
Labels: Package: datagrid, Type: House Keeping, App: storybook

#44 fix(storybook): update vite version in storybook for vulnerability fix
  apps/storybook/package.json
  package.json
  packages/datagrid/package.json
  pnpm-lock.yaml
Labels: Type: Fix, Package: datagrid, App: storybook

#45 fix(oidc-client): fix login navigation not working
  packages/oidc-client/package.json
  packages/oidc-client/src/client/hooks.test.tsx
  packages/oidc-client/src/client/hooks.ts
Labels: Package: oidc-client, Type: Fix

#37 feat(ds): add buildinfo json
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/panda.config.ts
  apps/storybook/tsconfig.json
  apps/storybook/vite.config.ts
  package.json
  packages/datagrid/package.json
  packages/datagrid/panda.config.ts
  packages/datagrid/src/Datagrid.tsx
  packages/datagrid/src/SearchFilter/FilterRow.tsx
  packages/datagrid/src/output.css
  packages/design-systems/package.json
  packages/design-systems/panda.config.ts
  packages/design-systems/src/components/Button.tsx
  packages/design-systems/src/components/Form.tsx
  packages/design-systems/src/components/IconButton.tsx
  packages/design-systems/src/components/Radio.tsx
  packages/design-systems/src/components/Table.tsx
  packages/design-systems/src/output.css
  pnpm-lock.yaml
Labels: Package: design-systems, Package: datagrid, Type: Feature, App: storybook

#52 Revert "feat(ds): add buildinfo json"
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/panda.config.ts
  apps/storybook/tsconfig.json
  apps/storybook/vite.config.ts
  package.json
  packages/datagrid/package.json
  packages/datagrid/panda.config.ts
  packages/datagrid/src/Datagrid.tsx
  packages/datagrid/src/SearchFilter/FilterRow.tsx
  packages/datagrid/src/output.css
  packages/design-systems/package.json
  packages/design-systems/panda.config.ts
  packages/design-systems/src/components/Button.tsx
  packages/design-systems/src/components/Form.tsx
  packages/design-systems/src/components/IconButton.tsx
  packages/design-systems/src/components/Radio.tsx
  packages/design-systems/src/components/Table.tsx
  packages/design-systems/src/output.css
  pnpm-lock.yaml
Labels: Package: design-systems, Package: datagrid, App: storybook

#54 fix(ds): rename color tokens
  apps/storybook/src/stories/composite/Popover.stories.tsx
  packages/datagrid/src/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/theme/recipes/button.ts
  packages/design-systems/src/theme/recipes/checkbox.ts
  packages/design-systems/src/theme/recipes/input.ts
  packages/design-systems/src/theme/recipes/link.ts
  packages/design-systems/src/theme/recipes/number-input.ts
  packages/design-systems/src/theme/recipes/radio.ts
  packages/design-systems/src/theme/recipes/switch.ts
  packages/design-systems/src/theme/recipes/tabs.ts
  packages/design-systems/src/theme/semantic-tokens.ts
  packages/design-systems/src/theme/slot-recipes/date-picker.ts
  packages/design-systems/src/theme/slot-recipes/radio-group.ts
  packages/design-systems/src/theme/slot-recipes/segment-group.ts
  packages/design-systems/src/theme/slot-recipes/select.ts
  packages/design-systems/src/theme/slot-recipes/slider.ts
  packages/design-systems/src/theme/slot-recipes/tags-input.ts
Labels: bug, Package: design-systems, Type: Fix, Package: datagrid, App: storybook

#55 refactor(ds): update version
  packages/datagrid/src/output.css
  packages/design-systems/package.json
Labels: Package: design-systems, Package: datagrid, Type: Refactor

#51 fix(oidc-client): fix bugs and add more tests with refactor
  packages/oidc-client/README.md
  packages/oidc-client/package.json
  packages/oidc-client/src/client/hooks.test.tsx
  packages/oidc-client/src/client/hooks.ts
  packages/oidc-client/src/lib/config.ts
  packages/oidc-client/src/server/index.ts
  packages/oidc-client/src/server/middleware.test.ts
  packages/oidc-client/src/server/middleware.ts
  packages/oidc-client/src/server/middleware/callback.test.ts
  packages/oidc-client/src/server/middleware/callback.ts
  packages/oidc-client/src/server/middleware/internal.ts
  packages/oidc-client/src/tests/helper.ts
  packages/oidc-client/src/tests/mocks.ts
  packages/oidc-client/vite.config.js
  pnpm-lock.yaml
Labels: Package: oidc-client, Type: Fix, Type: House Keeping

#56 feat(ds): add buildinfo and pandacss config in dev-config
  apps/storybook/.storybook/preview.tsx
  apps/storybook/panda.config.ts
  apps/storybook/src/ark-types/accordion.types.json
  apps/storybook/src/ark-types/avatar.types.json
  apps/storybook/src/ark-types/carousel.types.json
  apps/storybook/src/ark-types/checkbox.types.json
  apps/storybook/src/ark-types/date-picker.types.json
  apps/storybook/src/ark-types/dialog.types.json
  apps/storybook/src/ark-types/hover-card.types.json
  apps/storybook/src/ark-types/menu.types.json
  apps/storybook/src/ark-types/number-input.types.json
  apps/storybook/src/ark-types/pagination.types.json
  apps/storybook/src/ark-types/pin-input.types.json
  apps/storybook/src/ark-types/popover.types.json
  apps/storybook/src/ark-types/radio-group.types.json
  apps/storybook/src/ark-types/range-slider.types.json
  apps/storybook/src/ark-types/segment-group.types.json
  apps/storybook/src/ark-types/select.types.json
  apps/storybook/src/ark-types/slider.types.json
  apps/storybook/src/ark-types/switch.types.json
  apps/storybook/src/ark-types/tabs.types.json
  apps/storybook/src/ark-types/tags-input.types.json
  apps/storybook/src/ark-types/toast.types.json
  apps/storybook/src/ark-types/tooltip.types.json
  apps/storybook/tsconfig.json
  apps/storybook/tsconfig.node.json
  apps/storybook/vite.config.ts
  package.json
  packages/client/tsconfig.json
  packages/datagrid/package.json
  packages/datagrid/panda.config.ts
  packages/datagrid/src/Datagrid.tsx
  packages/datagrid/src/SearchFilter/FilterRow.tsx
  packages/datagrid/src/output.css
  packages/datagrid/tsconfig.json
  packages/design-systems/package.json
  packages/design-systems/panda.config.ts
  packages/design-systems/src/components/Button.tsx
  packages/design-systems/src/components/Form.tsx
  packages/design-systems/src/components/IconButton.tsx
  packages/design-systems/src/components/Radio.tsx
  packages/design-systems/src/components/Table.tsx
  packages/design-systems/src/output.css
  packages/design-systems/tsconfig.json
  packages/dev-config/package.json
  packages/dev-config/pandacss/index.ts
  packages/dev-config/tsconfig.json
  packages/dev-config/typescript/design-systems.json
  packages/monitoring/tsconfig.json
  packages/oidc-client/tsconfig.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: Package: client, Package: design-systems, Package: monitoring, Package: oidc-client, Package: datagrid, Package: utils, Package: dev-config, Type: Feature, App: storybook

#66 feat(dc): add deepmerge-ts
  packages/dev-config/package.json
  packages/dev-config/pandacss/index.ts
  pnpm-lock.yaml
Labels: Package: dev-config, Type: Feature

#69 feat(ds): add DatePicker component
  apps/storybook/src/stories/composite/DatePicker.stories.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/DatePicker.tsx
  packages/design-systems/src/index.tsx
Labels: Package: design-systems, Type: Feature, App: storybook

#39 feat(mtctl): initial version
  .cz-config.js
  .github/release-drafter.yml
  .github/workflows/release_package_minitailorctl.yml
  .github/workflows/test_package_minitailorctl.yml
  packages/minitailorctl/.eslintrc.cjs
  packages/minitailorctl/README.md
  packages/minitailorctl/package.json
  packages/minitailorctl/pnpm-lock.yaml
  packages/minitailorctl/src/commands.ts
  packages/minitailorctl/src/index.ts
  packages/minitailorctl/src/logger.ts
  packages/minitailorctl/src/tailorctl.ts
  packages/minitailorctl/tsconfig.json
  packages/minitailorctl/tsup.config.ts
  pnpm-lock.yaml
Labels: Type: Feature, Package: minitailorctl

#74 fix(oidc-client): fix multiple bugs
  packages/oidc-client/package.json
  packages/oidc-client/src/server/middleware.ts
  packages/oidc-client/src/server/middleware/callback.ts
Labels: Package: oidc-client, Type: Fix

#75 feat(oidc-client): add custom ApolloLink
  packages/oidc-client/README.md
  packages/oidc-client/package.json
  packages/oidc-client/src/adapters/apollo/index.ts
  packages/oidc-client/src/adapters/apollo/link.ts
  packages/oidc-client/tsup.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: Package: oidc-client, Type: Feature

#71 Feature/datagrid slotrecipe
  apps/storybook/panda.config.ts
  apps/storybook/tsconfig.json
  packages/datagrid/package.json
  packages/datagrid/panda.config.ts
  packages/datagrid/src/Datagrid.tsx
  packages/datagrid/src/client.tsx
  packages/datagrid/src/theme/slot-recipes/datagrid.ts
  packages/dev-config/pandacss/index.ts
  packages/dev-config/tsconfig.json
Labels: Package: datagrid, Package: dev-config, Type: Feature, App: storybook

#70 feat(ds): add Dialog component
  apps/storybook/src/stories/composite/Dialog.stories.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Dialog.tsx
  packages/design-systems/src/index.tsx
Labels: Package: design-systems, Type: Feature, App: storybook

#78 feat(oidc-client): pluggable authentication strategies
  packages/oidc-client/README.md
  packages/oidc-client/package.json
  packages/oidc-client/src/client/hooks.test.tsx
  packages/oidc-client/src/client/hooks.ts
  packages/oidc-client/src/client/index.ts
  packages/oidc-client/src/lib/config.ts
  packages/oidc-client/src/lib/core.test.ts
  packages/oidc-client/src/lib/core.ts
  packages/oidc-client/src/server/middleware.ts
  packages/oidc-client/src/server/middleware/callback.ts
  packages/oidc-client/src/strategies/abstract.ts
  packages/oidc-client/src/strategies/oidc.ts
  packages/oidc-client/src/tests/mocks.ts
Labels: Package: oidc-client, Type: Feature

#81 chore(github actions): update node version 18 to 20
  .github/actions/ci/action.yml
  .github/actions/install_and_build/action.yml
  .github/workflows/chromatic.yml
  .github/workflows/code-check.yml
  .github/workflows/publish_npm_package.yml
  package.json
Labels: Type: House Keeping

#82 fix(client): missing act in tests updating component states
  packages/client/lib/provider.test.tsx
Labels: Package: client, Type: Fix

#83 feat(oidc-client): split subpath exports to client and core
  packages/oidc-client/README.md
  packages/oidc-client/package.json
  packages/oidc-client/src/adapters/apollo/link.ts
  packages/oidc-client/src/client/hooks.ts
  packages/oidc-client/src/client/index.ts
  packages/oidc-client/src/client/provider.tsx
  packages/oidc-client/src/core/config.ts
  packages/oidc-client/src/core/index.ts
  packages/oidc-client/src/core/strategies/abstract.ts
  packages/oidc-client/src/core/strategies/oidc.ts
  packages/oidc-client/src/core/types.ts
  packages/oidc-client/src/server/index.ts
  packages/oidc-client/src/server/middleware.ts
  packages/oidc-client/src/server/middleware/callback.test.ts
  packages/oidc-client/src/server/middleware/callback.ts
  packages/oidc-client/src/tests/mocks.ts
Labels: Package: oidc-client, Type: Feature

#57 feat(datagrid): Add pinned table column method
  apps/storybook/src/stories/datagrid/DataGridPinedColumn.stories.tsx
  apps/storybook/src/stories/datagrid/DataGridPinedColumnStory.tsx
  packages/datagrid/package.json
  packages/datagrid/src/ColumnFeature/PinnedColumn.test.tsx
  packages/datagrid/src/ColumnFeature/PinnedColumn.tsx
  packages/datagrid/src/Datagrid.tsx
  packages/datagrid/src/locales/en.ts
  packages/datagrid/src/locales/ja.ts
  packages/datagrid/src/types.ts
  packages/datagrid/src/useDataGrid.tsx
Labels: Package: datagrid, Type: Feature, App: storybook

#84 feat(auth): initial release by renaming from oidc-client
  .cz-config.js
  .github/release-drafter.yml
  .github/workflows/release_package_auth.yml
  .github/workflows/test_package_auth.yml
  CONTRIBUTING.md
  README.md
  package.json
  packages/auth/.eslintrc.js
  packages/auth/.prettierignore
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/adapters/apollo/index.ts
  packages/auth/src/adapters/apollo/link.ts
  packages/auth/src/client/hooks.test.tsx
  packages/auth/src/client/hooks.ts
  packages/auth/src/client/index.ts
  packages/auth/src/client/provider.tsx
  packages/auth/src/core/config.ts
  packages/auth/src/core/index.ts
  packages/auth/src/core/strategies/abstract.ts
  packages/auth/src/core/strategies/oidc.ts
  packages/auth/src/core/types.ts
  packages/auth/src/server/index.ts
  packages/auth/src/server/middleware.test.ts
  packages/auth/src/server/middleware.ts
  packages/auth/src/server/middleware/callback.test.ts
  packages/auth/src/server/middleware/callback.ts
  packages/auth/src/server/middleware/internal.ts
  packages/auth/src/tests/helper.ts
  packages/auth/src/tests/mocks.ts
  packages/auth/tsconfig.json
  packages/auth/tsup.config.ts
  packages/auth/vite.config.js
  pnpm-lock.yaml
Labels: Type: Feature

#85 feat(auth): support SAML strategy
  packages/auth/package.json
  packages/auth/src/client/hooks.ts
  packages/auth/src/core/config.ts
  packages/auth/src/core/strategies/oidc.ts
  packages/auth/src/core/strategies/sso.ts
Labels: Type: Feature, Package: auth

#91 fix(auth): add core to build entries
  packages/auth/package.json
  packages/auth/tsup.config.ts
Labels: Type: Fix, Package: auth

#86 feat(auth): add minitailor authentication strategy
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/client/hooks.ts
  packages/auth/src/core/config.ts
  packages/auth/src/core/strategies/abstract.ts
  packages/auth/src/core/strategies/minitailor.ts
Labels: Type: Feature, Package: auth

#98 fix(ds): update ark-ui
  apps/storybook/package.json
  apps/storybook/panda.config.ts
  apps/storybook/src/stories/composite/HoverCard.stories.tsx
  apps/storybook/src/stories/composite/Menu.stories.tsx
  apps/storybook/src/stories/composite/MenuStory.tsx
  apps/storybook/src/stories/composite/NumberInput.stories.tsx
  apps/storybook/src/stories/composite/Pagination.stories.tsx
  apps/storybook/src/stories/composite/PinInput.stories.tsx
  apps/storybook/src/stories/composite/Popover.stories.tsx
  apps/storybook/src/stories/composite/RadioGroup.stories.tsx
  apps/storybook/src/stories/composite/SegmentGroup.stories.tsx
  apps/storybook/src/stories/composite/Select.stories.tsx
  apps/storybook/src/stories/composite/Slider.stories.tsx
  apps/storybook/src/stories/composite/Switch.stories.tsx
  apps/storybook/src/stories/composite/Tabs.stories.tsx
  apps/storybook/src/stories/composite/TagsInput.stories.tsx
  apps/storybook/src/stories/composite/Toast.stories.tsx
  apps/storybook/src/stories/composite/Tooltip.stories.tsx
  apps/storybook/src/stories/standalone/AppBar.stories.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/Avatar.tsx
  packages/design-systems/src/components/Checkbox.tsx
  packages/design-systems/src/components/composite/Accordion.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
  packages/design-systems/src/components/composite/Dialog.tsx
  packages/design-systems/src/theme/recipes/index.ts
  packages/design-systems/src/theme/slot-recipes/index.ts
  packages/design-systems/src/theme/slot-recipes/menu.ts
  packages/design-systems/src/theme/slot-recipes/number-input.ts
  packages/design-systems/src/theme/slot-recipes/switch.ts
  packages/design-systems/src/theme/slot-recipes/tabs.ts
  packages/design-systems/src/theme/slot-recipes/tooltip.ts
  pnpm-lock.yaml
Labels: Package: design-systems, Type: Fix, App: storybook

#99 feat(ds): update version
  packages/design-systems/package.json
Labels: Package: design-systems, Type: Feature

#101 fix(ds): fix workflow
  .github/workflows/make_github_release.yml
  packages/design-systems/package.json
Labels: Package: design-systems, Type: Fix

#102 fix: fix workflow
  .github/workflows/make_github_release.yml
Labels: Type: Fix
