Repository tailor-platform/frontend-packages, pull requests merged in 2024-05, with the labels that each got.

#192 fix(ds): Fix css in dataGrid
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/theme/slot-recipes/datagrid.ts
Labels: Package: design-systems, Type: Fix

#193 fix(ds): Fix pixel gap on pinned column
  packages/design-systems/package.json
  packages/design-systems/src/theme/slot-recipes/datagrid.ts
Labels: Package: design-systems, Type: Fix

#189 feat: add docker-console to services
  packages/dev-cli/package.json
  packages/dev-cli/src/builtin/templates/compose.ts
Labels: Type: Feature

#195 fix(ds): Panels are cropped-out
  package.json
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.tsx
  packages/design-systems/tsup.config.ts
  pnpm-lock.yaml
Labels: Package: design-systems, Type: Fix

#197 fix(ds): DateTime filter does not have invalid predicates
  apps/storybook/src/data/datagrid.ts
  apps/storybook/src/stories/datagrid/DataGridWithFilterStory.tsx
  apps/storybook/src/stories/datagrid/utils.ts
  apps/storybook/src/types/datagrid.ts
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/FilterRow.tsx
Labels: Package: design-systems, Type: Fix, App: storybook

#196 feat(ds): add sorting for datagrid
  apps/storybook/src/stories/datagrid/DataGridManualSorting.stories.tsx
  apps/storybook/src/stories/datagrid/DataGridManualSortingStory.tsx
  apps/storybook/src/stories/datagrid/DataGridSorting.stories.tsx
  apps/storybook/src/stories/datagrid/DataGridSortingStory.tsx
  apps/storybook/src/stories/datagrid/utils.ts
  packages/design-systems/package.json
  packages/design-systems/src/client.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/Sorting.test.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/Sorting.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/TableHead.tsx
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/index.tsx
  packages/design-systems/src/components/composite/Datagrid/types.ts
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
  packages/design-systems/src/components/composite/Datagrid/utils/test/index.ts
  packages/design-systems/src/theme/slot-recipes/index.ts
  packages/design-systems/src/theme/slot-recipes/sorting.ts
Labels: Package: design-systems, Type: Feature, App: storybook

#198 fix(ds): add omit option for export csv
  apps/storybook/src/stories/datagrid/DataGridExportStory.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/Export/Export.tsx
  packages/design-systems/src/components/composite/Datagrid/Export/types.ts
  packages/design-systems/src/components/composite/Datagrid/type.d.ts
  packages/design-systems/src/components/composite/Datagrid/types.ts
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
Labels: Package: design-systems, Type: Fix, App: storybook

#200 fix(ds): if value is dateTime, convert it to ISOString
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/components/composite/Datagrid/type.d.ts
  packages/design-systems/src/components/composite/Datagrid/types.ts
  packages/design-systems/test-setup.js
  packages/design-systems/vite.config.js
  pnpm-lock.yaml
Labels: Package: design-systems, Type: Fix

#202 fix(ds): add type for Order
  apps/storybook/src/stories/datagrid/DataGridManualSortingStory.tsx
  apps/storybook/src/stories/datagrid/utils.ts
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/Sorting.test.tsx
  packages/design-systems/src/components/composite/Datagrid/types.ts
  packages/design-systems/src/components/composite/Datagrid/utils/test/index.ts
Labels: Package: design-systems, Type: Fix, App: storybook

#15 feat(dev-cli): add dev-cli package
  .cz-config.js
  .github/workflows/test_package_dev-cli.yml
  packages/dev-cli/.gitignore
  packages/dev-cli/README.md
  packages/dev-cli/package.json
  packages/dev-cli/src/builtin/applications.ts
  packages/dev-cli/src/builtin/apply.ts
  packages/dev-cli/src/builtin/install-deps.ts
  packages/dev-cli/src/builtin/internal/applyV1.ts
  packages/dev-cli/src/builtin/internal/applyV2.ts
  packages/dev-cli/src/builtin/internal/deptools.ts
  packages/dev-cli/src/builtin/internal/machineuser.ts
  packages/dev-cli/src/builtin/internal/resource.test.ts
  packages/dev-cli/src/builtin/internal/resource.ts
  packages/dev-cli/src/builtin/machine-user-token.ts
  packages/dev-cli/src/builtin/machine-user.ts
  packages/dev-cli/src/builtin/reset.ts
  packages/dev-cli/src/builtin/start.ts
  packages/dev-cli/src/builtin/templates/0-minitailor-database.ts
  packages/dev-cli/src/builtin/templates/compose.ts
  packages/dev-cli/src/builtin/tests/mock.ts
  packages/dev-cli/src/builtin/uninstall-deps.ts
  packages/dev-cli/src/cli/commands.ts
  packages/dev-cli/src/cli/config.ts
  packages/dev-cli/src/cli/index.ts
  packages/dev-cli/src/cli/logger.ts
  packages/dev-cli/src/script/helper.ts
  packages/dev-cli/src/script/index.ts
  packages/dev-cli/src/script/logger.ts
  packages/dev-cli/tsconfig.json
  packages/dev-cli/tsup.config.ts
  packages/dev-cli/vitest.config.ts
  pnpm-lock.yaml
Labels: Type: Feature

#201 fix(ds): fix Datagrid component on modals not working
  apps/storybook/src/stories/datagrid/DataGridOnModalWithFilterStory.tsx
  apps/storybook/src/stories/datagrid/DatagridWithFilter.stories.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/theme/slot-recipes/select.ts
Labels: Package: design-systems, Type: Fix, App: storybook

#203 fix(ds): Disabling column filters unexpectedly dissolves system filters
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/types.ts
Labels: Package: design-systems, Type: Fix

#205 fix(ds): GQL conversion for "not-equal" generates "ne"
  apps/storybook/src/stories/datagrid/utils.ts
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/filter.ts
  packages/design-systems/src/components/composite/Datagrid/utils/test/index.ts
Labels: Package: design-systems, Type: Fix, App: storybook

#209 feat(dev-cli): add more vault commands
  packages/dev-cli/package.json
  packages/dev-cli/src/builtin/vault-create.ts
  packages/dev-cli/src/builtin/vault-list.ts
  packages/dev-cli/src/builtin/vault-secret-create.ts
  packages/dev-cli/src/cli/commands.ts
Labels: Type: Feature

#211 Replace request
  packages/auth/src/core/strategies/abstract.ts
  packages/auth/src/core/strategies/minitailor.ts
  packages/auth/src/core/strategies/saml.ts
Labels: Package: auth

#208 fix(auth): invalid parameter handling in saml strategy
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/core/config.ts
  packages/auth/src/core/strategies/abstract.ts
  packages/auth/src/core/strategies/default.ts
  packages/auth/src/core/strategies/minitailor.test.ts
  packages/auth/src/core/strategies/minitailor.ts
  packages/auth/src/core/strategies/oidc.test.ts
  packages/auth/src/core/strategies/oidc.ts
  packages/auth/src/core/strategies/saml.test.ts
  packages/auth/src/core/strategies/saml.ts
  packages/auth/src/core/strategies/sso.ts
  packages/auth/src/core/strategies/strategy.test.ts
  packages/auth/src/server/middleware/callback.test.ts
  packages/auth/src/server/middleware/callback.ts
Labels: Type: Fix, Package: auth

#213 chore(auth,ds,utils): update test packages
  packages/auth/package.json
  packages/design-systems/package.json
  packages/design-systems/src/components/Code.test.tsx
  packages/design-systems/src/components/Form.test.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/HideShow.test.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.test.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/Sorting.test.tsx
  packages/design-systems/src/components/composite/Datagrid/Datagrid.test.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
  packages/design-systems/src/components/composite/Datagrid/utils/test/customFilter.ts
  packages/design-systems/test-setup.js
  packages/design-systems/tests/global-setup.ts
  packages/design-systems/tests/setup.ts
  packages/design-systems/tsconfig.json
  packages/design-systems/vite.config.js
  packages/utils/package.json
  packages/utils/tests/global-setup.ts
  packages/utils/vite.config.js
  packages/utils/vitest-global-setup.js
  pnpm-lock.yaml
Labels: Package: design-systems, Type: House Keeping, Package: utils, Package: auth

#210 feat(apps): add an example app using auth package with SAML
  examples/sso-saml/.eslintrc.json
  examples/sso-saml/.gitignore
  examples/sso-saml/.tailordevrc.json
  examples/sso-saml/README.md
  examples/sso-saml/app/favicon.ico
  examples/sso-saml/app/layout.tsx
  examples/sso-saml/app/page.tsx
  examples/sso-saml/authConfig.ts
  examples/sso-saml/cue.mod/module.cue
  examples/sso-saml/cue.mod/pkg/github.com/tailor-platform/tailorctl/schema/v2/application/application.cue
  examples/sso-saml/cue.mod/pkg/github.com/tailor-platform/tailorctl/schema/v2/auth/auth.cue
  examples/sso-saml/cue.mod/pkg/github.com/tailor-platform/tailorctl/schema/v2/common/common.cue
  examples/sso-saml/cue.mod/pkg/github.com/tailor-platform/tailorctl/schema/v2/executor/executor.cue
  examples/sso-saml/cue.mod/pkg/github.com/tailor-platform/tailorctl/schema/v2/pipeline/literal.cue
  examples/sso-saml/cue.mod/pkg/github.com/tailor-platform/tailorctl/schema/v2/pipeline/pipeline.cue
  examples/sso-saml/cue.mod/pkg/github.com/tailor-platform/tailorctl/schema/v2/secretmanager/secretmanager.cue
  examples/sso-saml/cue.mod/pkg/github.com/tailor-platform/tailorctl/schema/v2/stateflow/stateflow.cue
  examples/sso-saml/cue.mod/pkg/github.com/tailor-platform/tailorctl/schema/v2/tailordb/tailordb.cue
  examples/sso-saml/cue.mod/pkg/github.com/tailor-platform/tailorctl/schema/v2/workspace.cue
  examples/sso-saml/manifest/values.cue
  examples/sso-saml/manifest/values.local.cue
  examples/sso-saml/manifest/workspace.cue
  examples/sso-saml/middleware.ts
  examples/sso-saml/next.config.mjs
  examples/sso-saml/package.json
  examples/sso-saml/provider.tsx
  examples/sso-saml/scripts/import.mjs
  examples/sso-saml/scripts/new-cert.sh
  examples/sso-saml/scripts/package.json
  examples/sso-saml/scripts/reader.mjs
  examples/sso-saml/scripts/seed-mock.mjs
  examples/sso-saml/scripts/seed/mock/csv/user.csv
  examples/sso-saml/tsconfig.json
  packages/auth/package.json
  pnpm-lock.yaml
Labels: Type: Feature, Package: auth

#215 fix(ds): on modal, select row not working
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/FilterRow.tsx
Labels: Package: design-systems, Type: Fix

#216 feat(ds): add more Datagrid recipes
  apps/storybook/panda.config.ts
  apps/storybook/src/data/datagrid.ts
  apps/storybook/src/stories/datagrid/DataGridManualSortingStory.tsx
  apps/storybook/src/stories/datagrid/DataGridMultilingualStory.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/HideShow.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.test.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/TableHead.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/types.ts
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/Density/Density.tsx
  packages/design-systems/src/components/composite/Datagrid/Density/types.ts
  packages/design-systems/src/components/composite/Datagrid/Export/Export.tsx
  packages/design-systems/src/components/composite/Datagrid/Export/types.ts
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/types.ts
  packages/design-systems/src/theme/recipes/density.ts
  packages/design-systems/src/theme/recipes/index.ts
  packages/design-systems/src/theme/slot-recipes/datagrid.ts
  packages/design-systems/src/theme/slot-recipes/toast.ts
Labels: Package: design-systems, Type: Feature, App: storybook

#217 chore(dev-cli): update console settings
  packages/dev-cli/package.json
  packages/dev-cli/src/builtin/templates/compose.ts
Labels: Type: House Keeping

#220 fix(ds): fix datacell css
  packages/db-test/README.md
  packages/db-test/src/index.js
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  pnpm-lock.yaml
Labels: Package: design-systems, Type: Fix, Type: Feature

#218 fix(dev-cli): pass minitailor port to the console
  .github/workflows/release_package_dev-cli.yml
  packages/dev-cli/package.json
  packages/dev-cli/src/builtin/templates/compose.ts
Labels: Type: Fix

#221 fix(ds): add recipes for select
  apps/storybook/src/stories/composite/Select.stories.tsx
  packages/design-systems/package.json
  packages/design-systems/src/theme/slot-recipes/select.ts
Labels: Package: design-systems, Type: Fix, App: storybook

#222 fix: change className in table recipe
  packages/design-systems/package.json
  packages/design-systems/src/theme/slot-recipes/table.ts
Labels: Package: design-systems, Type: Fix

#212 refactor(ds): abstract out logics from CustomFilter
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/types.ts
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/useCustomFilter.test.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/useCustomFilter.ts
  packages/design-systems/src/components/composite/Datagrid/utils/test/index.ts
Labels: Package: design-systems, Type: Refactor

#228 fix(auth): saml callback
  packages/auth/package.json
  packages/auth/src/core/strategies/saml.test.ts
  packages/auth/src/core/strategies/saml.ts
  packages/auth/src/core/strategies/strategy.test.ts
Labels: Type: Fix, Package: auth

#229 fix(auth): remove tokens on 401
  packages/auth/package.json
  packages/auth/src/adapters/apollo/link.ts
  packages/auth/src/client/hooks.ts
Labels: Type: Fix, Package: auth

#230 fix(ds): fix localization in filter
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
  packages/design-systems/src/locales/ja.ts
Labels: Package: design-systems, Type: Fix

#231 fix(ds): remove Portal
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Pagination/ManualPagination.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/Pagination.tsx
Labels: Package: design-systems, Type: Fix

#232 fix(ds): localize in filter
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/FilterRow.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/useCustomFilter.test.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/useCustomFilter.ts
  packages/design-systems/src/locales/en.ts
  packages/design-systems/src/locales/ja.ts
  packages/design-systems/src/locales/types.ts
Labels: Package: design-systems, Type: Fix

#233 fix(ds): fix defaultvalue
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/FilterRow.tsx
Labels: Package: design-systems, Type: Fix
