Repository tailor-platform/frontend-packages, pull requests merged in 2024-04, with the labels that each got.

#155 fix(ds): enable filter on storybook and fix errors
  apps/storybook/src/stories/datagrid/DataGridManualPaginationStory.tsx
  apps/storybook/src/stories/datagrid/DataGridMultilingualStory.tsx
  apps/storybook/src/stories/datagrid/DataGridWithFilterStory.tsx
  apps/storybook/src/stories/datagrid/utils.ts
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/HideShow.test.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/HideShow.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.test.tsx
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/ManualPagination.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/Pagination.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/FilterRow.tsx
  packages/design-systems/src/components/composite/Datagrid/types.ts
Labels: Package: design-systems, Type: Fix, Type: Feature, App: storybook

#153 chore(auth): add TSDoc comments
  packages/auth/package.json
  packages/auth/src/client/hooks.ts
  packages/auth/src/client/provider.tsx
  packages/auth/src/core/config.ts
  packages/auth/src/core/strategies/abstract.ts
  packages/auth/src/core/types.ts
  packages/auth/src/server/index.ts
  packages/auth/src/server/middleware.ts
Labels: Type: House Keeping, Package: auth

#157 feat(ds): improving CustomFilter
  apps/storybook/src/stories/datagrid/DataGridWithFilterStory.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/FilterRow.tsx
  packages/design-systems/src/components/composite/Datagrid/types.ts
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
  packages/design-systems/src/components/composite/Datagrid/utils/test/customFilter.ts
  packages/design-systems/src/components/patterns/HStack.tsx
  packages/design-systems/src/components/patterns/Stack.tsx
Labels: Package: design-systems, Type: Feature, App: storybook

#159 feat(ds): localized pagination
  apps/storybook/src/stories/datagrid/DataGridMultilingualStory.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/ManualPagination.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/Pagination.tsx
  packages/design-systems/src/locales/en.ts
  packages/design-systems/src/locales/ja.ts
  packages/design-systems/src/locales/types.ts
Labels: Package: design-systems, Type: Feature, App: storybook

#158 feat(ds): enum support
  apps/storybook/src/data/datagrid.ts
  apps/storybook/src/stories/datagrid/utils.ts
  apps/storybook/src/types/datagrid.ts
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/FilterRow.tsx
  packages/design-systems/src/components/composite/Datagrid/types.ts
Labels: Package: design-systems, Type: Feature, App: storybook

#160 fix(ds): fix datagrid dark theme
  packages/design-systems/package.json
  packages/design-systems/src/theme/slot-recipes/datagrid.ts
Labels: Package: design-systems, Type: Fix

#161 fix(ds): fix display collapse when totalCount is 0
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Pagination/utils.ts
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
Labels: Package: design-systems, Type: Fix, Type: Feature

#154 chore(*): use TypeDoc as API documentation
  .prettierignore
  README.md
  docs/.nojekyll
  docs/assets/highlight.css
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/_tailor_platform_auth.core.Config.html
  docs/functions/_tailor_platform_auth.adapters_apollo.authenticatedHttpLink.html
  docs/functions/_tailor_platform_auth.client.TailorAuthProvider.html
  docs/functions/_tailor_platform_auth.client.useAuth.html
  docs/functions/_tailor_platform_auth.client.usePlatform.html
  docs/functions/_tailor_platform_auth.client.useSession.html
  docs/functions/_tailor_platform_auth.server.getServerSession.html
  docs/functions/_tailor_platform_auth.server.withAuth.html
  docs/index.html
  docs/modules/_tailor_platform_auth.adapters_apollo.html
  docs/modules/_tailor_platform_auth.client.html
  docs/modules/_tailor_platform_auth.core.html
  docs/modules/_tailor_platform_auth.html
  docs/modules/_tailor_platform_auth.server.html
  docs/modules/_tailor_platform_design_systems.html
  docs/modules/_tailor_platform_dev_config.html
  docs/modules/_tailor_platform_minitailorctl.html
  docs/modules/_tailor_platform_monitoring.html
  docs/modules/_tailor_platform_utils.html
  docs/types/_tailor_platform_auth.client.LoginParams.html
  docs/types/_tailor_platform_auth.client.LogoutParams.html
  docs/types/_tailor_platform_auth.core.AbstractStrategy.html
  docs/types/_tailor_platform_auth.core.ErrorResponse.html
  docs/types/_tailor_platform_auth.core.Session.html
  docs/types/_tailor_platform_auth.core.SessionOption.html
  docs/types/_tailor_platform_auth.core.SessionResult.html
  docs/types/_tailor_platform_auth.core.UserInfo.html
  package.json
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/adapters/apollo/index.ts
  packages/auth/src/adapters/apollo/link.ts
  packages/auth/src/client/hooks.ts
  packages/auth/src/client/index.ts
  packages/auth/src/core/config.ts
  packages/auth/src/core/index.ts
  packages/auth/src/core/loader.ts
  packages/auth/src/core/strategies/abstract.ts
  packages/auth/src/core/types.ts
  packages/auth/src/server/index.ts
  packages/auth/src/server/middleware.ts
  packages/auth/typedoc.json
  packages/design-systems/README.md
  packages/dev-config/README.md
  packages/minitailorctl/README.md
  packages/monitoring/README.md
  packages/utils/README.md
  pnpm-lock.yaml
  typedoc.json
Labels: Package: design-systems, Package: monitoring, Type: House Keeping, Package: utils, Package: dev-config, Package: minitailorctl, Package: auth

#162 chore(*): add a link for docs in the root README
  README.md
  docs/classes/_tailor_platform_auth.core.Config.html
  docs/functions/_tailor_platform_auth.adapters_apollo.authenticatedHttpLink.html
  docs/functions/_tailor_platform_auth.client.TailorAuthProvider.html
  docs/functions/_tailor_platform_auth.client.useAuth.html
  docs/functions/_tailor_platform_auth.client.usePlatform.html
  docs/functions/_tailor_platform_auth.client.useSession.html
  docs/functions/_tailor_platform_auth.server.getServerSession.html
  docs/functions/_tailor_platform_auth.server.withAuth.html
  docs/index.html
  docs/modules/_tailor_platform_auth.adapters_apollo.html
  docs/modules/_tailor_platform_auth.client.html
  docs/modules/_tailor_platform_auth.core.html
  docs/modules/_tailor_platform_auth.html
  docs/modules/_tailor_platform_auth.server.html
  docs/modules/_tailor_platform_design_systems.html
  docs/modules/_tailor_platform_dev_config.html
  docs/modules/_tailor_platform_minitailorctl.html
  docs/modules/_tailor_platform_monitoring.html
  docs/modules/_tailor_platform_utils.html
  docs/types/_tailor_platform_auth.client.LoginParams.html
  docs/types/_tailor_platform_auth.client.LogoutParams.html
  docs/types/_tailor_platform_auth.core.AbstractStrategy.html
  docs/types/_tailor_platform_auth.core.ErrorResponse.html
  docs/types/_tailor_platform_auth.core.Session.html
  docs/types/_tailor_platform_auth.core.SessionOption.html
  docs/types/_tailor_platform_auth.core.SessionResult.html
  docs/types/_tailor_platform_auth.core.UserInfo.html
  typedoc.json
Labels: Type: House Keeping

#164 fix(ds): fix query type
  apps/storybook/src/stories/datagrid/utils.ts
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/types.ts
Labels: Package: design-systems, Type: Fix, App: storybook

#167 feat(ds): fixed height support in Datagrid
  apps/storybook/package.json
  apps/storybook/src/stories/datagrid/DataGridManualPaginationStory.tsx
  apps/storybook/src/stories/datagrid/DataGridPaginationStory.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/Table.tsx
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/PinInput.tsx
  packages/design-systems/src/components/patterns/Box.tsx
  packages/design-systems/src/theme/slot-recipes/datagrid.ts
  packages/design-systems/src/theme/tokens/colors.ts
  pnpm-lock.yaml
Labels: Package: design-systems, Type: Feature, App: storybook

#168 fix(auth): invalid session guard
  packages/auth/package.json
  packages/auth/src/client/hooks.test.tsx
  packages/auth/src/client/hooks.ts
  packages/auth/src/client/index.ts
  packages/auth/src/core/loader.ts
  packages/auth/src/core/types.ts
  packages/auth/src/server/middleware/internal.ts
Labels: Type: Fix, Package: auth

#169 fix(ds): update tanstack table and refactoring meta and accessorkey
  apps/storybook/package.json
  apps/storybook/src/stories/datagrid/DataGridMultilingualStory.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/HideShow.test.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.test.tsx
  packages/design-systems/src/components/composite/Datagrid/Datagrid.test.tsx
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/FilterRow.tsx
  packages/design-systems/src/components/composite/Datagrid/type.d.ts
  packages/design-systems/src/components/composite/Datagrid/types.ts
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
  pnpm-lock.yaml
Labels: Package: design-systems, Type: Feature, App: storybook

#170 fix(ds): fix css bug
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/theme/slot-recipes/datagrid.ts
Labels: Package: design-systems, Type: Fix

#171 fix(ds): fix pageSize list to be variable
  apps/storybook/src/stories/datagrid/DataGridManualPaginationStory.tsx
  apps/storybook/src/stories/datagrid/DataGridPagination.stories.tsx
  apps/storybook/src/stories/datagrid/DataGridPaginationStory.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Pagination/ManualPagination.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/Pagination.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/utils.ts
  packages/design-systems/src/components/composite/Datagrid/types.ts
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
Labels: Package: design-systems, Type: Fix, Type: Feature, App: storybook

#172 fix(ds): fix css
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.tsx
  packages/design-systems/src/theme/slot-recipes/datagrid.ts
Labels: Package: design-systems, Type: Fix

#173 feat(ds): add density function and RadioGroup component
  apps/storybook/src/stories/composite/RadioGroup.stories.tsx
  apps/storybook/src/stories/datagrid/DataGridDensity.stories.tsx
  apps/storybook/src/stories/datagrid/DataGridDensityStory.tsx
  apps/storybook/src/stories/datagrid/DataGridMultilingualStory.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/Density/Density.tsx
  packages/design-systems/src/components/composite/Datagrid/type.d.ts
  packages/design-systems/src/components/composite/Datagrid/types.ts
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
  packages/design-systems/src/components/composite/RadioGroup.tsx
  packages/design-systems/src/index.tsx
  packages/design-systems/src/locales/en.ts
  packages/design-systems/src/locales/ja.ts
  packages/design-systems/src/locales/types.ts
Labels: Package: design-systems, Type: Feature, App: storybook

#177 fix(ds): fix test error
  packages/design-systems/package.json
  packages/design-systems/vite.config.js
  pnpm-lock.yaml
Labels: Package: design-systems, Type: Fix

#175 fix(auth): remove server dependencies from apollo-link adapters and client modules
  packages/auth/package.json
  packages/auth/src/adapters/apollo/link.ts
  packages/auth/src/client/hooks.test.tsx
  packages/auth/src/client/hooks.ts
  packages/auth/src/core/loader.ts
  packages/auth/src/core/path.ts
  packages/auth/src/core/strategies/abstract.ts
  packages/auth/src/core/strategies/minitailor.ts
  packages/auth/src/core/strategies/sso.ts
  packages/auth/src/server/index.ts
  packages/auth/src/server/middleware.ts
  packages/auth/src/server/middleware/callback.test.ts
  packages/auth/src/server/middleware/callback.ts
  packages/auth/src/server/middleware/internal.ts
  packages/auth/src/tests/mocks.ts
Labels: Type: Fix, Package: auth

#174 fix(ds): add localization
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/locales/en.ts
  packages/design-systems/src/locales/ja.ts
  packages/design-systems/src/locales/types.ts
Labels: Package: design-systems, Type: Fix

#178 chore(auth): drop ESM support
  packages/auth/package.json
  packages/auth/tsup.config.ts
Labels: Type: House Keeping, Package: auth

#179 feat(ds): add export function to Datagrid
  apps/storybook/src/stories/datagrid/DataGridExport.stories.tsx
  apps/storybook/src/stories/datagrid/DataGridExportStory.tsx
  apps/storybook/src/stories/datagrid/DataGridMultilingualStory.tsx
  packages/design-systems/package.json
  packages/design-systems/src/components/Code.test.tsx
  packages/design-systems/src/components/Form.test.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/HideShow.test.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.test.tsx
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/Export/Export.tsx
  packages/design-systems/src/components/composite/Datagrid/type.d.ts
  packages/design-systems/src/components/composite/Datagrid/types.ts
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
  packages/design-systems/src/components/composite/Datagrid/utils/test/customFilter.ts
  packages/design-systems/src/components/patterns/Box.tsx
  packages/design-systems/src/locales/en.ts
  packages/design-systems/src/locales/ja.ts
  packages/design-systems/src/locales/types.ts
  pnpm-lock.yaml
Labels: Package: design-systems, Type: Feature, App: storybook

#180 fix(ds): fix initial state
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Export/Export.tsx
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
Labels: Package: design-systems, Type: Fix

#182 fix(ds): header darkmode bg fix
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/theme/slot-recipes/datagrid.ts
Labels: Package: design-systems, Type: Fix

#181 fix(ds): fix useClickOutside
  apps/storybook/src/stories/datagrid/DataGridMultilingualStory.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/HideShow.test.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/HideShow.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.tsx
  packages/design-systems/src/components/composite/Datagrid/Datagrid.tsx
  packages/design-systems/src/components/composite/Datagrid/Density/Density.tsx
  packages/design-systems/src/components/composite/Datagrid/Export/Export.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/components/composite/Datagrid/addEventOutside.ts
  packages/design-systems/src/components/composite/Datagrid/hooks/useClickOutside.ts
  packages/design-systems/src/components/composite/Datagrid/type.d.ts
  packages/design-systems/src/components/composite/Datagrid/types.ts
  packages/design-systems/src/components/composite/Datagrid/useDataGrid.tsx
  pnpm-lock.yaml
Labels: Package: design-systems, Type: Fix, App: storybook

#185 chore(ds): refactor type definitions
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/HideShow.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/PinnedColumn.tsx
  packages/design-systems/src/components/composite/Datagrid/ColumnFeature/types.ts
  packages/design-systems/src/components/composite/Datagrid/Density/Density.tsx
  packages/design-systems/src/components/composite/Datagrid/Density/types.ts
  packages/design-systems/src/components/composite/Datagrid/Export/Export.tsx
  packages/design-systems/src/components/composite/Datagrid/Export/types.ts
  packages/design-systems/src/components/composite/Datagrid/Pagination/ManualPagination.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/Pagination.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/utils.ts
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.test.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/CustomFilter.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/FilterRow.tsx
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/filter.ts
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/types.ts
  packages/design-systems/src/components/composite/Datagrid/index.tsx
  packages/design-systems/src/components/composite/Datagrid/type.d.ts
  packages/design-systems/src/components/composite/Datagrid/types.ts
  packages/design-systems/src/components/composite/Datagrid/utils/test/index.ts
Labels: Package: design-systems, Type: House Keeping

#184 fix(ds): Fix css in datagrid pagination
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/Pagination/ManualPagination.tsx
  packages/design-systems/src/components/composite/Datagrid/Pagination/Pagination.tsx
  packages/design-systems/src/theme/slot-recipes/select.ts
  packages/design-systems/src/theme/tokens/sizes.ts
Labels: Package: design-systems, Type: Fix, Type: Feature

#187 fix(ds): fix default filter
  packages/design-systems/package.json
  packages/design-systems/src/components/composite/Datagrid/SearchFilter/FilterRow.tsx
Labels: Package: design-systems, Type: Fix

#191 fix(auth): cache session tokens for custom apollo-link
  packages/auth/package.json
  packages/auth/src/adapters/apollo/link.ts
Labels: Type: Fix, Package: auth
